
body{
    background-image: url(forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
main{
    width: 700px;
    height: 550px;
    margin: 0 auto;
    border: solid 10px black;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgb(233, 223, 134);
    
}
#about{
    overflow: auto;
    width: 450px;
    height: 250px;
    background-color: rgb(243, 243, 188);
    border: dashed 5px rgb(104, 68, 3);

}

h1{
    font-family: 'Palette Mosaic', cursive;
    color: rgb(36, 4, 4);
    position:centralized ;
}
#cheetah{
    border: 7.5px inset rgb(161, 132, 36);
    
    
}
